.headers li:first-child{
  float: left;
}

.headers{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(191, 26, 47, 1);
}

.header_item{
  font-family: 'Jomhuria', sans-serif;
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  font-size: 40px;
  letter-spacing: 1px;
}

#sign_up *, #sign_in *{
  color: white;
  font-family: 'Mitr', serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.welcome{
  text-align: center;
}

.welcome_line{
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.img_outer{
  text-align: center;
  overflow: hidden;
}

.image{
  margin: -240px 0 -320px 0;

}

.slogan{
  margin-left: 230px;
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.startyear{
  margin-left: 230px;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  margin-top: -80px;
}

.park_info{
  margin-left: 230px;
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event{
  margin-left: 250px;
}

.events{
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event_invt{
  margin-bottom: -8px;
  color: #000000;
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event_table {
  margin-left: 250px;
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid black;
  height: 300px;
  width: 1093px;
}

.event_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}

.ticket{
  margin-left: 250px;
}

.tickets{
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ticket_info{
  margin-bottom: -8px;
  color: #000000;
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ticket_table{
  margin-left: 250px;
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid black;
  height: 300px;
  width: 421px;
}

.ticket_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 80px 0;
}

.theme_zone{
  margin-left: 250px;
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
}

#ride{
  font-family:'Josefin Sans', sans-serif;
}

.ride_table{
  margin-top: 40px;
  margin-bottom: 40px;
  background: #d9d9d9;
  border: 1px solid black;
  height: 300px;
  width: 857px;
}

.ride_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}

#restaurant{
  font-family:'Josefin Sans', sans-serif;
}

.food_table{
  margin-top: 40px ;
  margin-bottom: 40px;
  background: #d9d9d9;
  border: 1px solid black;
  height: 300px;
  width: 646px;
}

.food_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}

#shop{
  font-family:'Josefin Sans', sans-serif;
}

.shop_table{
  margin-top: 40px ;
  margin-bottom: 40px;
  background: #d9d9d9;
  border: 1px solid black;
  height: 100px;
  width: 279px;
}

.shop_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 100px 0;
}

#amenities{
  font-family:'Josefin Sans', sans-serif;
}

.amenities_table{
  margin-top: 40px ;
  margin-bottom: 40px;
  background: #d9d9d9;
  border: 1px solid black;
  height: 300px;
  width: 693px;
}

.amenities_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  border: 1px solid black;
  position: absolute;
  border-collapse: separate;
  border-spacing: 100px 0;
}