.headers li:first-child{
  float: left;
}

.headers{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(191, 26, 47, 1);
}

.header_item{
  font-family: 'Jomhuria', sans-serif;
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
}

.welcome{
  text-align: center;
}

.welcome_line{
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.img_outer{
  text-align: center;
  overflow: hidden;
}

.image{
  margin: -240px 0 -320px 0;

}

.slogan{
  margin-left: 230px;
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.startyear{
  margin-left: 230px;
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  margin-top: -80px;
}

.park_info{
  margin-left: 230px;
  color: #000000;
  font-family: 'Jomhuria', serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event{
  margin-left: 250px;
}

.events{
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event_invt{
  margin-bottom: -8px;
  color: #000000;
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.event_table {
  margin-left: 250px;
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  height: 300px;
  width: 1355px;
}

.event_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}

.ticket{
  margin-left: 250px;
}

.tickets{
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ticket_info{
  margin-bottom: -8px;
  color: #000000;
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ticket_table{
  margin-left: 250px;
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  height: 300px;
  width: 400px;
}

.ticket_columns{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  border-collapse: separate;
  border-spacing: 80px 0;
}

.theme_zone{
  margin-left: 250px;
  color: #000000;
  font-family: 'Mitr', serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
}

.ride_table{
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  height: 300px;
  width: 1000px;
}

.ride_column{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}

.food_table{
  margin-top: 40px ;
  background: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  height: 300px;
  width: 700px;
}

.food_column{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  border-collapse: separate;
  border-spacing: 150px 0;
}
