.nav-headers li:first-child {
  float: left;
}

.nav-headers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(191, 26, 47, 1);
}

.nav-item {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /*font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-size: 20px;
}


.welcome-back-visitor {
  color: #000000;
  font-family: "Jomhuria-Regular", Helvetica;
  font-size: 40px;
  font-weight: 400;
  left: 70px;
  letter-spacing: 0;
  position: absolute;
  top: 150px;


}

.group {
  height: 784px;
  left: 64px;
  position: absolute;
  top: 252px;
  width: 1321px;
}



.mainbox {
  background: linear-gradient(180deg, rgb(236, 243, 246) 99.99%, rgb(255, 239, 176) 100%);
  border: 1px solid;
  border-color: #000000;
  border-radius: 22px;
  height: 80vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 90vw;
}

.menubox {
  background: linear-gradient(180deg, rgb(255, 255, 255) 99.99%, rgb(255, 239, 176) 100%);
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  height: 80vw;
  left: 0;
  position: absolute;
  top: 0;
  width: 213px;
}

.optionbox {
  background: linear-gradient(180deg, rgb(255, 255, 255) 99.99%, rgb(255, 239, 176) 100%);
  border: 1px solid;
  border-color: #000000;
  border-radius: 8px;
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 213px;
}

.Menutxt {
  color: #000000;
  font-size: 24px;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  width: 93px;
}

.AccInfoButton {
  color: #000000;
  font-size: 20px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  width: 168px;
}

.ParkInfoButton{
  color: #000000;
  font-size: 20px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 168px;
}

.TicketInfoButton {
  color: #000000;
  font-size: 20px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 220px;
  width: 168px;
}
.DeleteAccButtonConfirm {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  color: #ff0404;
  font-size: 20px;
  left: -20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 100px;
  width: 168px;
}

.DeleteButton {
  color: #ff0404;
  font-size: 20px;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 300px;
  width: 168px;
}

.UpdateAccInfoSection{
  height: 100px;
  left: 0px;
  position: absolute;
  top: 100;
  width: 90vw;
}
.UpdateAccPasSection{
  height: 100px;
  left: 0px;
  position: absolute;
  top: 100;
  width: 90vw;
}

.PurchTicketSection{
  height: 200px;
  left: 0px;
  position: absolute;
  top: 1;
  width: 90vw;
}

button {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.optiontextbox {
  height: 100px;
  left: 250px;
  position: absolute;
  top: 0;
  width: 1000px;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

h3{
  font-size: 16px;
}
